<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601892356901-6ce0qiufb222dhhj4u4ii31qpod78ssg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601892356901-6ce0qiufb222dhhj4u4ii31qpod78ssg</string>
	<key>API_KEY</key>
	<string>AIzaSyDhZEB8ew5_nDcmmY8TZwjZzVfMzRa5jZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>601892356901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAndSession</string>
	<key>PROJECT_ID</key>
	<string>chatandsession</string>
	<key>STORAGE_BUCKET</key>
	<string>chatandsession.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601892356901:ios:24989c109193d3c2a650cc</string>
</dict>
</plist>